html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Syncopate', arial, helvetica, sans-serif;
}
#Loading{
    position: fixed;
    bottom: 50%;
}
#Controls{
    position: fixed;
    bottom: 0;
}
.tab{
    background-color: rgba(255,255,255);
    position: fixed;
    right: 0;
    top: 0;
    width: 384px;
    padding: 16px;
    max-height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    font-size: 0.8rem;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8px;
}
#Tabs{
    position: fixed;
    top: 0;
    right: 461px;
    transform:rotate(270deg);
    transform-origin: top right;
    
    button {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    button.active {
        filter: invert(1);
    }
}
button {
    font-size: 1.2rem;    
    cursor: pointer;
}
input {
    font-size: 1.2rem;    
    cursor: pointer;    
}
.tab {
    display: none;
    
    &.active {
        display: block;
    }
}
select {
    font-size: 1.25rem;
    padding: 0.5rem;
}
textarea {
    font-size: 1.2rem;
    width: 100%;
    height: calc( 100vh - 80px );
}
#Timeline{
    position: fixed;
    top: 64px;
    left: 0;
    height: 140px;
    width: calc( 100vw - 480px );
    background-color: rgba(0,0,64,0.5);
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
}
.cell {
    position: absolute;
    bottom: 64px;
    background-color: rgba(0,192,192,0.8);
    width: 5px;
    
    &.reverse {
        bottom: inherit;
        top: 64px;
    }
}
.viseme {
    position: absolute;
    background-color: red;
    color: white;
    border: 1px solid white;
    width: 48px;
    height: 12px;
    font-size: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}